<hr>

# README

<style>
h1 {
    text-align: center;
    color: orange;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

## **Product ID - Mapping :**
| Product Name | Product ID |
|-----|-----|
| Wonka Bar | ```WB``` |
| Wonka Bar - Triple Dazzle Caramel | ```WBTC``` |
| Wonka Bar -Scrumdiddlyumptious | ```WBSL``` |
| Wonka Bar - Fudge Mallows | ```WBFM``` |
| Wonka Bar - Milk Chocolate | ```WBMC``` |
| Wonka Bar - Nutty Crunch Surprise |```WBNS```|
| Wonka Gum | ```WG``` |
| SweeTARTS | ```ST``` |
| Lickable Wallpaper | ```LW``` |
| Kazookles | ```KK``` |
| Everlasting Gobstopper | ```EG```|
| Fizzy Lifting Drinks | ```FL``` |
| Nerds | ```ND```|
| Fun Dip | ```FD```|
| Laffy Taffy | ```LT```|
| Hair Toffee | ```HT```|

## **Factory - Mapping :**
| Factory Name | Factory ID |
|-----|-----|
| Wicked Choccy's | ```WC```|
| Lot's O' Nuts | ```LON``` |
| Secret Factory | ```SF```|
| Sugar Shack | ```SS```|
| The Other Factory | ```TOF```|

<hr>

# Business Definition & Case

<style>
h1 {
    text-align: center;
    color: orange;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

## **BUSINESS:**
## **Problem:**
## Solution:
## QUESTIONS!
- General profit vs loss by 
- Business idea / decision?
- What's the problem of our business based on what we have as data?
- B2B supplying chocolate, sugar and other

<hr>

# DATA ANALYSIS

<style>
h1 {
    text-align: center;
    color: orange;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

<hr>

## Entity Relational Diagram (ERD)


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

- product profitability to invest in more and redefine selling price for low profitability products
- factory performance to expend it for quantity of the best performing products
- strategies to improve profitability and create marketing compaigns to present the product line

- fidelity strategy : figure out the top customers and give them a discount for a higher amounts of sales

- Three Slides : 

--- (6 Best / Worst Products)

--- (USA vs Canada Country  - 5 State/Region of best country) 

--- (10 City of best region)


ERD (Entity Relational Diagram / Schema)
Entities:

- Factory Info
+ Factory
+ Latitude
+ Longitude

- Factory Address
* Latitude (foreign key)
* Longitude (foreign key)
+ calculate address using API (later We could split it into Country, Region, City, Postal Code)

- Product
+ Product Name	
* Division (primary key)

- Order (has one address and has one customer)
+ Order Date
+ Sales	Units
+ Gross Profit
+ Cost
* Division (foreign key)

- Shipping (an order has one shipping date and mode)
+ Ship Date
+ Ship Mode

- Delivery Address (has one order)
+ Country/Region
+ City
+ State/Province
+ Postal Code
+ Region

- Customer (has multiple orders)
* Customer ID (primary key)
+ Orders Number

<hr>

## Load CSV & VIEW DATASET

<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

In [1]:
import pandas as pd

# import csv in dataframe
df = pd.read_csv('../data/raw/wonka_choc_factory.csv')
print("Shape : ", df.shape)
df.head()

Shape :  (10194, 19)

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371

<hr>

## Product ID - Mapping

<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

In [3]:
df["Product Name"].unique().tolist()

['Wonka Bar - Triple Dazzle Caramel',
 'Wonka Bar -Scrumdiddlyumptious',
 'Wonka Bar - Fudge Mallows',
 'Wonka Bar - Milk Chocolate',
 'Wonka Bar - Nutty Crunch Surprise',
 'Wonka Gum',
 'SweeTARTS',
 'Lickable Wallpaper',
 'Kazookles',
 'Everlasting Gobstopper',
 'Fizzy Lifting Drinks',
 'Nerds',
 'Fun Dip',
 'Laffy Taffy',
 'Hair Toffee']

In [2]:
import pandas as pd
df = pd.read_csv("../data/raw/wonka_choc_factory.csv")

# Product mapping dictionary
product_map = {
    "Wonka Bar": "WB",
    "Wonka Bar - Triple Dazzle Caramel": "WBTC",
    "Wonka Bar - Scrumdiddlyumptious": "WBSL",
    "Wonka Bar -Scrumdiddlyumptious": "WBSL",  
    "Wonka Bar - Fudge Mallows": "WBFM",
    "Wonka Bar - Milk Chocolate": "WBMC",
    "Wonka Bar - Nutty Crunch Surprise": "WBNS",
    "Wonka Gum": "WG",
    "SweeTARTS": "ST",
    "Lickable Wallpaper": "LW",
    "Kazookles": "KK",
    "Everlasting Gobstopper": "EG",
    "Fizzy Lifting Drinks": "FL",
    "Nerds": "ND",
    "Fun Dip": "FD",
    "Laffy Taffy": "LT",
    "Hair Toffee": "HT"
}

df["Product ID"] = df["Product Name"].map(product_map)
df.head()

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude,Product ID
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371,WBTC
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036,WBSL
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036,WBFM
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371,WBMC
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371,WBMC

In [5]:
df["Product ID"].unique().tolist()

['WBTC',
 'WBSL',
 'WBFM',
 'WBMC',
 'WBNS',
 'WG',
 'ST',
 'LW',
 'KK',
 'EG',
 'FL',
 'ND',
 'FD',
 'LT',
 'HT']

<hr>

## FACTORY - Mapping


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [6]:
df["Factory"].unique().tolist()

["Wicked Choccy's",
 "Lot's O' Nuts",
 'Secret Factory',
 'Sugar Shack',
 'The Other Factory']

In [3]:
# Factory mapping dictionary
factory_map = {
    "Wicked Choccy's": 'WC',
 "Lot's O' Nuts": 'LON',
 'Secret Factory': 'SF',
 'Sugar Shack': 'SS',
 'The Other Factory': 'TOF',
}

df["Factory ID"] = df["Factory"].map(factory_map)
df.head()

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,...,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude,Product ID,Factory ID
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,...,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371,WBTC,WC
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,...,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036,WBSL,LON
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,...,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036,WBFM,LON
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,...,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371,WBMC,WC
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,...,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371,WBMC,WC

In [8]:
df["Factory ID"].unique().tolist()

['WC', 'LON', 'SF', 'SS', 'TOF']

In [4]:
df.to_csv("../data/interim/chocolate_factory.csv", index=False)

<hr>

## Order ID ??


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

To create an Order ID use:
- Order Date
- Customer ID
-

In [11]:
df.head()

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,...,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude,Product ID,Factory ID
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,...,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371,WBTC,WC
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,...,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036,WBSL,LON
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,...,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036,WBFM,LON
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,...,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371,WBMC,WC
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,...,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371,WBMC,WC

In [15]:
df.columns.tolist()
# use Unamed: 0 as Order ID
df.rename(columns={"Unnamed: 0": "Order ID"}, inplace=True)

In [26]:
df.head(20)

# ORDER ID is unique
# Order Date 2021-03-31

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,...,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude,Product ID,Factory ID
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,...,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371,WBTC,WC
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,...,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036,WBSL,LON
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,...,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036,WBFM,LON
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,...,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371,WBMC,WC
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,...,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371,WBMC,WC
5,5,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,...,Wonka Bar -Scrumdiddlyumptious,3.60,1,2.50,1.10,Lot's O' Nuts,32.881893,-111.768036,WBSL,LON
6,6,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,...,Wonka Bar - Nutty Crunch Surprise,10.47,3,7.47,3.00,Lot's O' Nuts,32.881893,-111.768036,WBNS,LON
7,7,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,...,Wonka Bar - Fudge Mallows,25.20,7,16.80,8.40,Lot's O' Nuts,32.881893,-111.768036,WBFM,LON
8,8,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,...,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371,WBMC,WC
9,9,2024-06-29,2029-12-25,Standard Class,147039,United States,Minneapolis,Minnesota,55407,Chocolate,...,Wonka Bar - Nutty Crunch Surprise,10.47,3,7.47,3.00,Lot's O' Nuts,32.881893,-111.768036,WBNS,LON
10,10,2024-06-29,2029-12-25,Standard Class,147039,United States,Minneapolis,Minnesota,55407,Chocolate,...,Wonka Bar - Nutty Crunch Surprise,6.98,2,4.98,2.00,Lot's O' Nuts,32.881893,-111.768036,WBNS,LON
11,11,2021-04-21,2026-10-16,Standard Class,158064,United States,Los Angeles,California,90008,Chocolate,...,Wonka Bar - Milk Chocolate,16.25,5,10.55,5.70,Wicked Choccy's,32.076176,-81.088371,WBMC,WC
12,12,2021-10-24,2027-04-21,Standard Class,130729,United States,Rancho Cucamonga,California,91730,Chocolate,...,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371,WBMC,WC
13,13,2022-02-03,2027-07-29,First Class,140921,United States,Omaha,Nebraska,68104,Chocolate,...,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371,WBTC,WC
14,14,2022-02-03,2027-07-29,First Class,140921,United States,Omaha,Nebraska,68104,Chocolate,...,Wonka Bar - Nutty Crunch Surprise,10.47,3,7.47,3.00,Lot's O' Nuts,32.881893,-111.768036,WBNS,LON
15,15,2022-05-08,2027-11-02,Standard Class,109939,United States,Salem,Oregon,97301,Chocolate,...,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036,WBSL,LON
16,16,2022-11-13,2028-05-09,Standard Class,114503,United States,Lebanon,Tennessee,37087,Chocolate,...,Wonka Bar - Nutty Crunch Surprise,20.94,6,14.94,6.00,Lot's O' Nuts,32.881893,-111.768036,WBNS,LON
17,17,2023-07-10,2029-01-05,Standard Class,126613,United States,Mesa,Arizona,85204,Chocolate,...,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371,WBTC,WC
18,18,2023-11-14,2029-05-08,Second Class,131065,United States,Atlanta,Georgia,30318,Chocolate,...,Wonka Bar - Nutty Crunch Surprise,6.98,2,4.98,2.00,Lot's O' Nuts,32.881893,-111.768036,WBNS,LON
19,19,2023-11-14,2029-05-08,Second Class,131065,United States,Atlanta,Georgia,30318,Chocolate,...,Wonka Bar -Scrumdiddlyumptious,3.60,1,2.50,1.10,Lot's O' Nuts,32.881893,-111.768036,WBSL,LON

In [18]:
df.columns.tolist()

['Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Country/Region',
 'City',
 'State/Province',
 'Postal Code',
 'Division',
 'Region',
 'Product Name',
 'Sales',
 'Units',
 'Gross Profit',
 'Cost',
 'Factory',
 'Latitude',
 'Longitude',
 'Product ID',
 'Factory ID']

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        10194 non-null  int64
 1   Order Date      10194 non-null  object
 2   Ship Date       10194 non-null  object
 3   Ship Mode       10194 non-null  object
 4   Customer ID     10194 non-null  int64
 5   Country/Region  10194 non-null  object
 6   City            10194 non-null  object
 7   State/Province  10194 non-null  object
 8   Postal Code     10194 non-null  object
 9   Division        10194 non-null  object
 10  Region          10194 non-null  object
 11  Product Name    10194 non-null  object
 12  Sales           10194 non-null  float64
 13  Units           10194 non-null  int64
 14  Gross Profit    10194 non-null  float64
 15  Cost            10194 non-null  float64
 16  Factory         10194 non-null  object
 17  Latitude        10194 non-null  float64
 18  Longitude       10194 non-null  float64
 19  Product ID      10194 non-null  object
 20  Factory ID      10194 non-null  object
dtypes: float64(5), int64(3), object(13)
memory usage: 1.6+ MB

In [24]:
# Group by Factory ID and get unique products
factory_products = df.groupby('Factory ID')['Product ID'].unique().reset_index()

# Optional: convert numpy arrays to lists for cleaner display
factory_products['Product ID'] = factory_products['Product ID'].apply(list)

factory_products

  Factory ID            Product ID
0        LON    [WBSL, WBFM, WBNS]
1         SF          [WG, LW, EG]
2         SS  [ST, FL, ND, FD, LT]
3        TOF              [KK, HT]
4         WC          [WBTC, WBMC]

In [25]:
# Count how many factories produce each product
product_counts = df.groupby('Product ID')['Factory ID'].nunique()

# Filter products produced by more than one factory
shared_products = product_counts[product_counts > 1]

if not shared_products.empty:
    print("Products shared by multiple factories:")
    print(shared_products)
else:
    print("No products are shared between factories.")
# none of the factories share a common product

No products are shared between factories.

<hr>

## Calculate TOTALS


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [56]:
# Initialize dataframe totals
totals = pd.DataFrame()

# Calculate total sales by product name
totals["sales"] = df.groupby('Product Name')['Sales'].sum()
print("\nTotal Sales by Product Name -------------------------")
print(totals["sales"])

# Calculate total cost by product name
totals["cost"] = df.groupby('Product Name')['Cost'].sum()
print("\nTotal Cost by Product Name -------------------------")
print(totals["cost"])

# Calculate total gross profit by product name
totals["gross_profit"] = df.groupby('Product Name')['Gross Profit'].sum()
print("\nTotal Gross Profit by Product Name -------------------------")
print(totals["gross_profit"])

# Calculate total units by product name
totals["units"] = df.groupby('Product Name')['Units'].sum()
print("\nTotal Units by Product Name -------------------------")
print(totals["units"])

# Make "Product Name" a column instead of the index
totals = totals.reset_index()  # <-- this is the key step

# Optional: sort by gross profit descending
totals = totals.sort_values(by="gross_profit", ascending=False)

# Save to CSV Product Totals
totals.to_csv("../data/interim/product_totals.csv", index=False)

# View the dataframe
totals.head(totals.shape[0])

Total Sales by Product Name -------------------------
Product Name
Everlasting Gobstopper                 130.00
Fizzy Lifting Drinks                    78.75
Fun Dip                                 12.00
Hair Toffee                             76.50
Kazookles                             1205.75
Laffy Taffy                             53.73
Lickable Wallpaper                    7860.00
Nerds                                   15.00
SweeTARTS                               61.50
Wonka Bar - Fudge Mallows            24890.40
Wonka Bar - Milk Chocolate           26867.75
Wonka Bar - Nutty Crunch Surprise    23574.95
Wonka Bar - Triple Dazzle Caramel    28485.00
Wonka Bar -Scrumdiddlyumptious       27874.80
Wonka Gum                              597.50
Name: sales, dtype: float64

Total Cost by Product Name -------------------------
Product Name
Everlasting Gobstopper                 26.00
Fizzy Lifting Drinks                   31.50
Fun Dip                                 7.20
Hair Toffee                            17.00
Kazookles                            1113.00
Laffy Taffy                            20.25
Lickable Wallpaper                   3930.00
Nerds                                   8.00
SweeTARTS                              32.80
Wonka Bar - Fudge Mallows            8296.80
Wonka Bar - Milk Chocolate           9424.38
Wonka Bar - Nutty Crunch Surprise    6755.00
Wonka Bar - Triple Dazzle Caramel    9874.80
Wonka Bar -Scrumdiddlyumptious       8517.30
Wonka Gum                             286.80
Name: cost, dtype: float64

Total Gross Profit by Product Name -------------------------
Product Name
Everlasting Gobstopper                 104.00
Fizzy Lifting Drinks                    47.25
Fun Dip                                  4.80
Hair Toffee                             59.50
Kazookles                               92.75
Laffy Taffy                             33.48
Lickable Wallpaper                    3930.00
Nerds                                    7.00
SweeTARTS                               28.70
Wonka Bar - Fudge Mallows            16593.60
Wonka Bar - Milk Chocolate           17443.37
Wonka Bar - Nutty Crunch Surprise    16819.95
Wonka Bar - Triple Dazzle Caramel    18610.20
Wonka Bar -Scrumdiddlyumptious       19357.50
Wonka Gum                              310.70
Name: gross_profit, dtype: float64

Total Units by Product Name -------------------------
Product Name
Everlasting Gobstopper                 13
Fizzy Lifting Drinks                   21
Fun Dip                                 8
Hair Toffee                            17
Kazookles                             371
Laffy Taffy                            27
Lickable Wallpaper                    393
Nerds                                  10
SweeTARTS                              41
Wonka Bar - Fudge Mallows            6914
Wonka Bar - Milk Chocolate           8267
Wonka Bar - Nutty Crunch Surprise    6755
Wonka Bar - Triple Dazzle Caramel    7596
Wonka Bar -Scrumdiddlyumptious       7743
Wonka Gum                             478
Name: units, dtype: int64

                         Product Name     sales     cost  gross_profit  units
13     Wonka Bar -Scrumdiddlyumptious  27874.80  8517.30      19357.50   7743
12  Wonka Bar - Triple Dazzle Caramel  28485.00  9874.80      18610.20   7596
10         Wonka Bar - Milk Chocolate  26867.75  9424.38      17443.37   8267
11  Wonka Bar - Nutty Crunch Surprise  23574.95  6755.00      16819.95   6755
9           Wonka Bar - Fudge Mallows  24890.40  8296.80      16593.60   6914
6                  Lickable Wallpaper   7860.00  3930.00       3930.00    393
14                          Wonka Gum    597.50   286.80        310.70    478
0              Everlasting Gobstopper    130.00    26.00        104.00     13
4                           Kazookles   1205.75  1113.00         92.75    371
3                         Hair Toffee     76.50    17.00         59.50     17
1                Fizzy Lifting Drinks     78.75    31.50         47.25     21
5                         Laffy Taffy     53.73    20.25         33.48     27
8                           SweeTARTS     61.50    32.80         28.70     41
7                               Nerds     15.00     8.00          7.00     10
2                             Fun Dip     12.00     7.20          4.80      8

<hr>

## GEOMAP API for Factory Address


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [ ]:
# Install geopy
!pip install geopy pandas

Requirement already satisfied: geopy in c:\users\sboub\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: pandas in c:\users\sboub\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\sboub\anaconda3\lib\site-packages (from geopy) (2.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sboub\anaconda3\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sboub\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sboub\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sboub\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sboub\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:

import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

# Load CSV with Factory info
df = pd.read_csv("../data/raw/wonka_choc_factory.csv") 

# Initialize geocoder
geolocator = Nominatim(user_agent="chocolate_factory_app")
geocode = RateLimiter(geolocator.reverse, min_delay_seconds=1)  # avoid rate limits

# Function to get address components
def get_factory_address(lat, lon):
    try:
        location = geocode((lat, lon), exactly_one=True)
        if location is None:
            return pd.Series([None, None, None, None])
        address = location.raw.get('address', {})
        country = address.get('country')
        region = address.get('state') or address.get('region')
        city = address.get('city') or address.get('town') or address.get('village')
        postcode = address.get('postcode')
        return pd.Series([country, region, city, postcode])
    except:
        return pd.Series([None, None, None, None])

# Apply function to all rows
df[['Factory Country', 'Factory Region', 'Factory City', 'Factory Postal Code']] = df.apply(
    lambda row: get_factory_address(row['Latitude'], row['Longitude']), axis=1
)

# Save updated CSV
df.to_csv("../data/interim/factory_address.csv", index=False)

df.head()

RateLimiter caught an error, retrying (0/2 tries). Called with (*((32.881893, -111.768036),), **{'exactly_one': True}).
Traceback (most recent call last):
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\connectionpool.py", line 464, in _make_request
    self._validate_conn(conn)
    ~~~~~~~~~~~~~~~~~~~^^^^^^
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\connectionpool.py", line 1093, in _validate_conn
    conn.connect()
    ~~~~~~~~~~~~^^
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\connection.py", line 790, in connect
    sock_and_verified = _ssl_wrap_socket_and_match_hostname(
        sock=sock,
    ...<14 lines>...
        assert_fingerprint=self.assert_fingerprint,
    )
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\connection.py", line 969, in _ssl_wrap_socket_and_match_hostname
    ssl_sock = ssl_wrap_socket(
        sock=sock,
    ...<8 lines>...
        tls_in_tls=tls_in_tls,
    )
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\util\ssl_.py", line 480, in ssl_wrap_socket
    ssl_sock = _ssl_wrap_socket_impl(sock, context, tls_in_tls, server_hostname)
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\util\ssl_.py", line 524, in _ssl_wrap_socket_impl
    return ssl_context.wrap_socket(sock, server_hostname=server_hostname)
           ~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\sboub\anaconda3\Lib\ssl.py", line 455, in wrap_socket
    return self.sslsocket_class._create(
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~^
        sock=sock,
        ^^^^^^^^^^
    ...<5 lines>...
        session=session
        ^^^^^^^^^^^^^^^
    )
    ^
  File "c:\Users\sboub\anaconda3\Lib\ssl.py", line 1076, in _create
    self.do_handshake()
    ~~~~~~~~~~~~~~~~~^^
  File "c:\Users\sboub\anaconda3\Lib\ssl.py", line 1372, in do_handshake
    self._sslobj.do_handshake()
    ~~~~~~~~~~~~~~~~~~~~~~~~~^^
TimeoutError: _ssl.c:1011: The handshake operation timed out

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\connectionpool.py", line 787, in urlopen
    response = self._make_request(
        conn,
    ...<10 lines>...
        **response_kw,
    )
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\connectionpool.py", line 488, in _make_request
    raise new_e
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\connectionpool.py", line 466, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=conn.timeout)
    ~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\connectionpool.py", line 367, in _raise_timeout
    raise ReadTimeoutError(
        self, url, f"Read timed out. (read timeout={timeout_value})"
    ) from err
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\Users\sboub\anaconda3\Lib\site-packages\requests\adapters.py", line 667, in send
    resp = conn.urlopen(
        method=request.method,
    ...<9 lines>...
        chunked=chunked,
    )
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ~~~~~~~~~~~~^
        method,
        ^^^^^^^
    ...<13 lines>...
        **response_kw,
        ^^^^^^^^^^^^^^
    )
    ^
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\connectionpool.py", line 871, in urlopen
    return self.urlopen(
           ~~~~~~~~~~~~^
        method,
        ^^^^^^^
    ...<13 lines>...
        **response_kw,
        ^^^^^^^^^^^^^^
    )
    ^
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\connectionpool.py", line 841, in urlopen
    retries = retries.increment(
        method, url, error=new_e, _pool=self, _stacktrace=sys.exc_info()[2]
    )
  File "c:\Users\sboub\anaconda3\Lib\site-packages\urllib3\util\retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=32.881893&lon=-111.768036&format=json&addressdetails=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\sboub\anaconda3\Lib\site-packages\geopy\adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
  File "c:\Users\sboub\anaconda3\Lib\site-packages\requests\sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
           ~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\sboub\anaconda3\Lib\site-packages\requests\sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
  File "c:\Users\sboub\anaconda3\Lib\site-packages\requests\sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
  File "c:\Users\sboub\anaconda3\Lib\site-packages\requests\adapters.py", line 700, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=32.881893&lon=-111.768036&format=json&addressdetails=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\sboub\anaconda3\Lib\site-packages\geopy\extra\rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
    ^^^^^^^
  File "c:\Users\sboub\anaconda3\Lib\site-packages\geopy\extra\rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
  File "c:\Users\sboub\anaconda3\Lib\site-packages\geopy\geocoders\nominatim.py", line 372, in reverse
    return self._call_geocoder(url, callback, timeout=timeout)
           ~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\sboub\anaconda3\Lib\site-packages\geopy\geocoders\base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
  File "c:\Users\sboub\anaconda3\Lib\site-packages\geopy\adapters.py", line 472, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
  File "c:\Users\sboub\anaconda3\Lib\site-packages\geopy\adapters.py", line 494, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=32.881893&lon=-111.768036&format=json&addressdetails=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

<hr>

## EXPLORE DATASET


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [75]:
print("Shape : ", df.shape)
df.head()

Shape :  (10194, 21)

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,...,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude,Product ID,Factory ID
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,...,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371,WBTC,WC
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,...,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036,WBSL,LON
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,...,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036,WBFM,LON
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,...,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371,WBMC,WC
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,...,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371,WBMC,WC

In [ ]:
df["Product Name"].unique().tolist()

['Wonka Bar - Triple Dazzle Caramel',
 'Wonka Bar -Scrumdiddlyumptious',
 'Wonka Bar - Fudge Mallows',
 'Wonka Bar - Milk Chocolate',
 'Wonka Bar - Nutty Crunch Surprise',
 'Wonka Gum',
 'SweeTARTS',
 'Lickable Wallpaper',
 'Kazookles',
 'Everlasting Gobstopper',
 'Fizzy Lifting Drinks',
 'Nerds',
 'Fun Dip',
 'Laffy Taffy',
 'Hair Toffee']

In [ ]:
df["Factory"].unique().tolist()

["Wicked Choccy's",
 "Lot's O' Nuts",
 'Secret Factory',
 'Sugar Shack',
 'The Other Factory']

In [62]:
df["State/Province"].unique().tolist()

['California',
 'New York',
 'Texas',
 'Minnesota',
 'Nebraska',
 'Oregon',
 'Tennessee',
 'Arizona',
 'Georgia',
 'Rhode Island',
 'Connecticut',
 'Missouri',
 'Michigan',
 'North Carolina',
 'Pennsylvania',
 'Massachusetts',
 'Oklahoma',
 'Kentucky',
 'Washington',
 'Virginia',
 'New Hampshire',
 'Indiana',
 'Illinois',
 'British Columbia',
 'Colorado',
 'Ohio',
 'Mississippi',
 'New Mexico',
 'Florida',
 'Louisiana',
 'Montana',
 'New Jersey',
 'Utah',
 'Ontario',
 'Nevada',
 'Wisconsin',
 'Alabama',
 'Maryland',
 'South Carolina',
 'Quebec',
 'Iowa',
 'Kansas',
 'Delaware',
 'South Dakota',
 'Vermont',
 'Arkansas',
 'North Dakota',
 'District of Columbia',
 'Idaho',
 'West Virginia',
 'Alberta',
 'Prince Edward Island',
 'Manitoba',
 'Newfoundland and Labrador',
 'Maine',
 'Wyoming',
 'New Brunswick',
 'Nova Scotia',
 'Saskatchewan']

In [63]:
df["City"].unique().tolist()

['San Francisco',
 'New York City',
 'Round Rock',
 'Minneapolis',
 'Los Angeles',
 'Rancho Cucamonga',
 'Omaha',
 'Salem',
 'Lebanon',
 'Mesa',
 'Atlanta',
 'Providence',
 'Middletown',
 'Springfield',
 'Detroit',
 'Concord',
 'Chester',
 'Lowell',
 'Oklahoma City',
 'Georgetown',
 'San Diego',
 'Arlington',
 'Seattle',
 'Des Moines',
 'Waynesboro',
 'Philadelphia',
 'Greenwood',
 'Indianapolis',
 'Houston',
 'Phoenix',
 'Portland',
 'Pearland',
 'Bloomington',
 'Henderson',
 'Yonkers',
 'Tulsa',
 'Dallas',
 'Long Beach',
 'Carrollton',
 'Decatur',
 'Vancouver',
 'Louisville',
 'Lakewood',
 'Toledo',
 'Bellevue',
 'Plano',
 'Jackson',
 'Lorain',
 'Carlsbad',
 'Chicago',
 'Jacksonville',
 'Tucson',
 'Avondale',
 'Tampa',
 'Pembroke Pines',
 'Lafayette',
 'Beaumont',
 'Rochester',
 'Parma',
 'Lawrence',
 'Huntsville',
 'Great Falls',
 'Fairfield',
 'San Clemente',
 'Passaic',
 'Homestead',
 'College Station',
 'West Jordan',
 'Toronto',
 'Las Vegas',
 'Franklin',
 'Stockton',
 'Charlotte',
 'Cincinnati',
 'Knoxville',
 'Alexandria',
 'Saint Petersburg',
 'Peoria',
 'Richmond',
 'Allen',
 'Milwaukee',
 'Columbus',
 'Hampton',
 'Waterbury',
 'Eau Claire',
 'Coral Springs',
 'Troy',
 'Gulfport',
 'Huntington Beach',
 'Cranston',
 'Aurora',
 'Bethlehem',
 'Tamarac',
 'Brentwood',
 'Nashville',
 'Anaheim',
 'Bartlett',
 'Miami',
 'Virginia Beach',
 'Roswell',
 'Plantation',
 'Coral Gables',
 'Kent',
 'Roseville',
 'Glendale',
 'Chesapeake',
 'Beverly',
 'Palm Coast',
 'Baltimore',
 'Scottsdale',
 'Apple Valley',
 'Wilmington',
 'Taylor',
 'Chandler',
 'Grand Prairie',
 'Cleveland',
 'Auburn',
 'Des Plaines',
 'Frisco',
 'Florence',
 'Malden',
 'Fort Lauderdale',
 'Denver',
 'Rock Hill',
 'Fort Collins',
 'Montreal',
 'Austin',
 'Hattiesburg',
 'Trenton',
 'Woonsocket',
 'Quincy',
 'Redmond',
 'Pasadena',
 'Irving',
 'Charlottesville',
 'Montgomery',
 'Longmont',
 'Provo',
 'Redondo Beach',
 'Noblesville',
 'Palatine',
 'Boynton Beach',
 'Akron',
 'Meriden',
 'Bristol',
 'Morristown',
 'Farmington',
 'Bakersfield',
 'Helena',
 'Oceanside',
 'Wheeling',
 'San Antonio',
 'Sierra Vista',
 'Inglewood',
 'Saint Charles',
 'Fort Worth',
 'Vineland',
 'Columbia',
 'Oakland',
 'El Cajon',
 'Odessa',
 'Laguna Niguel',
 'Woodland',
 'Green Bay',
 'Newport News',
 'Fresno',
 'Monroe',
 'Lancaster',
 'Lawton',
 'Bowling Green',
 'Newark',
 'Edmonds',
 'Rome',
 'Appleton',
 'Olathe',
 'Fayetteville',
 'Modesto',
 'Raleigh',
 'Sacramento',
 'Albuquerque',
 'Memphis',
 'The Colony',
 'Greensboro',
 'Watertown',
 'Woodstock',
 'Garden City',
 'Delray Beach',
 'Quebec City',
 'Hialeah',
 'Johnson City',
 'San Bernardino',
 'Santa Ana',
 'Santa Barbara',
 'Gaithersburg',
 'Montebello',
 'Ann Arbor',
 'Elyria',
 'Buffalo Grove',
 'Deltona',
 'Harrisonburg',
 'Cary',
 'Lakeville',
 'Broken Arrow',
 'Plainfield',
 'Oxnard',
 'El Paso',
 'Paterson',
 'Arvada',
 'Spokane',
 'Evanston',
 'Skokie',
 'Gilbert',
 'San Gabriel',
 'Superior',
 'Costa Mesa',
 'Altoona',
 'Littleton',
 'Frankfort',
 'Clinton',
 'Milford',
 'Smyrna',
 'Rapid City',
 'Port Arthur',
 'Warwick',
 'Hoover',
 'Waco',
 'Chattanooga',
 'Hamilton',
 'Cedar Hill',
 'East Orange',
 'Cuyahoga Falls',
 'Camarillo',
 'Burlington',
 'Southaven',
 'Chapel Hill',
 'Owensboro',
 'La Porte',
 'Westminster',
 'Moorhead',
 'Durham',
 'Lubbock',
 'Lake Elsinore',
 'Wichita',
 'Medford',
 'Tyler',
 'Moreno Valley',
 'Shelton',
 'Allentown',
 'Hempstead',
 'Apopka',
 'Hillsboro',
 'Santa Clara',
 'Mcallen',
 'Everett',
 'Renton',
 'Orem',
 'Hot Springs',
 'Marietta',
 'Little Rock',
 'Grove City',
 'Linden',
 'Gresham',
 'Urbandale',
 'Reading',
 'Colorado Springs',
 'New Bedford',
 'Brownsville',
 'Utica',
 'North Charleston',
 'Redlands',
 'Covington',
 'Norwich',
 'Elmhurst',
 'Grand Rapids',
 'West Palm Beach',
 'Lakeland',
 'Freeport',
 'Englewood',
 'Iowa City',
 'Bossier City',
 'Woodbury',
 'Haltom City',
 'Hollywood',
 'Dublin',
 'San Jose',
 'Fargo',
 'Conroe',
 'Pomona',
 'Thomasville',
 'Fremont',
 'Bozeman',
 'Washington',
 'Lake Forest',
 'Salinas',
 'Marion',
 'Port Saint Lucie',
 'Hickory',
 'Salt Lake City',
 'Riverside',
 'Orlando',
 'Asheville',
 'North Miami',
 'Cottage Grove',
 'Warner Robins',
 'Dubuque',
 'Vallejo',
 'Rockford',
 'Orange',
 'Murfreesboro',
 'Tempe',
 'Kenosha',
 'Miramar',
 'Hendersonville',
 'Westland',
 'Abilene',
 'Keller',
 'Greenville',
 'Eagan',
 'Romeoville',
 'Las Cruces',
 'Thousand Oaks',
 'Lincoln Park',
 'Yuma',
 'Encinitas',
 'Pine Bluff',
 'New Albany',
 'Meridian',
 'Murray',
 'Revere',
 'Westfield',
 'Maple Grove',
 'North Las Vegas',
 'Tuscaloosa',
 'Normal',
 'Lake Charles',
 'Jamestown',
 'Amarillo',
 'Mason',
 'Mansfield',
 'Buffalo',
 'Redding',
 'La Crosse',
 'Laredo',
 'Naperville',
 'Lodi',
 'Jonesboro',
 'Lansing',
 'Escondido',
 'Jefferson City',
 'Dover',
 'Sandy Springs',
 'Sioux Falls',
 'Lehi',
 'Dearborn Heights',
 'Saint Paul',
 'Melbourne',
 'Pueblo',
 'Torrance',
 'Mesquite',
 'Bryan',
 'Bolingbrook',
 'Mount Pleasant',
 'Rogers',
 'Bellingham',
 'Calgary',
 'Edmonton',
 'Antioch',
 'Chico',
 'Perth Amboy',
 'Richardson',
 'Hesperia',
 'Pharr',
 'Leominster',
 'Harlingen',
 'Texas City',
 'Rio Rancho',
 'Bullhead City',
 'Cambridge',
 'Kenner',
 'Boise',
 'Loveland',
 'Charlottetown',
 'Mount Vernon',
 'Sunnyvale',
 'Longview',
 'Chula Vista',
 'Danbury',
 'Macon',
 'Tallahassee',
 'Belleville',
 'Coppell',
 'Twin Falls',
 'New Rochelle',
 'Broomfield',
 'Winnipeg',
 'Rockville',
 'Manchester',
 'Logan',
 'Sterling Heights',
 'Sparks',
 'Athens',
 'Pocatello',
 'Midland',
 'Holland',
 'Saginaw',
 'Waukesha',
 'Niagara Falls',
 'Atlantic City',
 'Olympia',
 'Mobile',
 'Garland',
 'Reno',
 'Kissimmee',
 'Aberdeen',
 'Mission Viejo',
 'Canton',
 'Bridgeton',
 'San Angelo',
 'Draper',
 'Missoula',
 "St. John's",
 'Davis',
 'Madison',
 'Port Orange',
 'Muskogee',
 'Park Ridge',
 'Ontario',
 'Saint Cloud',
 'Deer Park',
 'Tigard',
 'Manteca',
 'Highland Park',
 'Pleasant Grove',
 'Norman',
 'Layton',
 'Overland Park',
 'Springdale',
 'Visalia',
 'Clarksville',
 'Kirkwood',
 'Hackensack',
 'Tinley Park',
 'Bangor',
 'Thornton',
 'Champaign',
 'Medina',
 'Whittier',
 'Elkhart',
 'Suffolk',
 'La Quinta',
 'Texarkana',
 'Gladstone',
 'Sheboygan',
 'Cheyenne',
 'Citrus Heights',
 'League City',
 'Pasco',
 'San Marcos',
 'Coachella',
 'Saint Louis',
 'Marysville',
 'Corpus Christi',
 'Laurel',
 'Mentor',
 'Santa Fe',
 'Lindenhurst',
 'Sanford',
 'Moncton',
 'Dearborn',
 'Missouri City',
 'Boca Raton',
 'Wausau',
 'Conway',
 'Coon Rapids',
 'Parker',
 'Grapevine',
 'Santa Maria',
 'Royal Oak',
 'York',
 'Halifax',
 'Edinburg',
 'Oak Park',
 'Danville',
 'Edmond',
 'Wilson',
 'Waterloo',
 'Yucaipa',
 'Orland Park',
 'Marlborough',
 'Bayonne',
 'Holyoke',
 'Glenview',
 'Andover',
 'Lewiston',
 'Pompano Beach',
 'Pensacola',
 'Murrieta',
 'Commerce City',
 'Billings',
 'Gastonia',
 'Mishawaka',
 'Temecula',
 'Saint Peters',
 'Independence',
 'Daytona Beach',
 'Morgan Hill',
 'East Point',
 'Manhattan',
 'Carol Stream',
 'South Bend',
 'Summerville',
 'Burbank',
 'La Mesa',
 'Margate',
 'Rochester Hills',
 'Arlington Heights',
 'Bedford',
 'Clifton',
 'Goldsboro',
 'New Castle',
 'Baytown',
 'Caldwell',
 'New Brunswick',
 'Regina',
 'Greeley',
 'Redwood City',
 'San Luis Obispo',
 'Nashua',
 'Oswego',
 'Norfolk',
 'Pico Rivera',
 'Hagerstown',
 'Jupiter',
 'Vacaville',
 'Grand Island',
 'Eugene',
 'Cedar Rapids',
 'Ormond Beach',
 'West Allis',
 'Clovis',
 'San Mateo',
 'Portage']

In [64]:
df["Gross Profit"].unique().tolist()

[4.9,
 5.0,
 4.8,
 6.33,
 4.22,
 2.5,
 7.47,
 16.8,
 4.98,
 10.55,
 14.94,
 12.25,
 2.49,
 7.35,
 19.92,
 7.2,
 10.0,
 7.5,
 12.0,
 9.6,
 9.96,
 12.66,
 9.8,
 2.45,
 1.95,
 24.5,
 2.4,
 12.5,
 21.1,
 31.2,
 8.44,
 14.7,
 1.4,
 12.45,
 29.54,
 19.2,
 27.5,
 21.6,
 2.11,
 15.0,
 17.5,
 17.15,
 34.3,
 29.4,
 22.5,
 23.21,
 14.77,
 6.5,
 4.55,
 20.0,
 30.0,
 22.05,
 16.88,
 17.43,
 18.99,
 25.0,
 2.0,
 14.4,
 22.41,
 24.0,
 1.25,
 19.6,
 1.0,
 24.9,
 0.65,
 1.3,
 3.25,
 26.4,
 0.5,
 2.8,
 34.86,
 7.15,
 50.0,
 0.25,
 3.9,
 2.6,
 31.85,
 1.75,
 40.0,
 70.0,
 35.0,
 60.0,
 80.0,
 9.0,
 5.2,
 0.75,
 32.5,
 1.5,
 25.32,
 5.85,
 2.25,
 27.43,
 27.39,
 2.48,
 2.1,
 1.24,
 90.0,
 29.88,
 11.25,
 26.95,
 33.6,
 28.8,
 130.0,
 0.6,
 48.0,
 100.0,
 32.37,
 0.7,
 6.75,
 4.96,
 4.2,
 1.8,
 4.5,
 32.0,
 7.8,
 6.2,
 110.0,
 7.44,
 7.0,
 3.5,
 3.72]

In [65]:
df["Ship Mode"].unique().tolist()

['Standard Class', 'First Class', 'Second Class', 'Same Day']

In [66]:
df["Country/Region"].unique().tolist()

['United States', 'Canada']

In [67]:
df["Division"].unique().tolist()

['Chocolate', 'Other', 'Sugar']